body {
	background-color:black;
	margin:0;
	padding-bottom:5%;
	text-decoration: none;
}
body a {
	-webkit-transition: color .5s ease-in-out;
	-moz-transition: color .5s ease-in-out;
	-o-transition: color .5s ease-in-out;
	-ms-transition: color .5s ease-in-out;
	text-decoration: none;
	color: #000;
}
body a:hover {
	color: #BE0500;
}
#heading-list {
	margin:0;
	position: fixed;
	top: 0px;
	left:0px;
	right:0px;
	text-align:center;
	list-style: none;
	font: 10pt helvetica;
	font-style: oblique;
	font-weight: light;
	background-color: #703D9A;
	border-bottom: 1px solid #333;
	padding: 12px;
	opacity: .8;
	-webkit-transition: opacity .5s ease-in-out;
	-moz-transition: opacity .5s ease-in-out;
	-o-transition: opacity .5s ease-in-out;
	-ms-transition: opacity .5s ease-in-out;
}
#heading-list:hover {
	opacity: 1;
}
.heading-items {
	display: inline-block;
	margin-right: 5%;
	text-shadow: 0px 0px 1px #999;
	opacity: 0;
	-webkit-transition: opacity .5s ease-in-out;
	-moz-transition: opacity .5s ease-in-out;
	-o-transition: opacity .5s ease-in-out;
	-ms-transition: opacity .5s ease-in-out;
}
#heading-list:hover li.heading-items{
	opacity: 1;
}
#Title h1 {
	color: #CBC5C2;
	font-style: italic;
	position: absolute;
	left: 20%;
	margin-top: 7%;
	margin-left: 1%;
	font-size: 50px;
}
#text1 p {
	color: #5C5A58;
	margin-left: 10%;
	margin-right: 15%;
	margin-top: 5%;
	font: 18pt times;
	text-align: justify;
}
#text2 p {
	color: #5C5A58;
	margin-left: 20%;
	margin-right: 10%;
	margin-top: 2%;
	margin-bottom: 5%;
	font: 18pt times;
	text-align: justify;
	
}
#author h2 {
	color: #CBC5C2;
	position: absolute;
	font-style: oblique;
	margin: 5%;
	right: 30%;
	margin-bottom: 2%;
	
}
.bold {
	color: #A20400;
	font-style: italic;
	font-size: 200px;
	text-align: left;
}
.bold:hover {
	color: #703D9A;
}
.strong {
	color: #A20400;
	font-style: italic;
}
#divider2 {
	margin-left: 5%;
	margin-right: 5%;
}